@using Microsoft.AspNet.Identity
@model IEnumerable<Doshka.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<br/>

@using (Ajax.BeginForm("Index", "Ads", new AjaxOptions { UpdateTargetId = "ads"}))
{
    <div class="search-filed__wrap" id="ads-search">

        <input type="text" id="search-field" class="form-control" name="searchString"
               value="Search..." onclick="SearchHelper.OnClick()" />

    </div>
}

<div id="ads">
    @Html.Partial("RenderAds")
</div>

